data/fao_data/ALL_norm/Production_Crops_Livestock_E_All_Data_(Normalized).csv filter=lfs diff=lfs merge=lfs -text
data/fao_data/fao_all_with_coords.csv filter=lfs diff=lfs merge=lfs -text
data/fao_data/*.shp filter=lfs diff=lfs merge=lfs -text
data/fao_data/*.shx filter=lfs diff=lfs merge=lfs -text
data/fao_data/*.dbf filter=lfs diff=lfs merge=lfs -text
data/fao_data/*.prj filter=lfs diff=lfs merge=lfs -text
data/fao_data/*.cpg filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
data/fao_data/filtered_event_geocoded.dbf filter=lfs diff=lfs merge=lfs -text
